@media (max-width: 1199.98px) {
  .me {
    &__name {
      font-size: 34px;
    }
    &__from {
      font-size: 28px;
    }
    &__glad {
      font-size: 28px;
    }
    &__image-box {
      width: 340px;
      min-height: 450px;
    }
    &__image {
      width: 380px;
      object-fit: contain;
    }
  }
}

@media (max-width: 991.98px) {
  .me {
    &__container::before {
      top: 0;
      bottom: 15px;
    }
    &__title {
      margin-bottom: 30px;
      font-size: 50px;
    }
    &__name {
      margin-bottom: 110px;
      font-size: 28px;
    }
    &__from {
      font-size: 22px;
    }
    &__glad {
      font-size: 22px;
    }
    &__image-box {
      width: 260px;
      min-height: 450px;
    }
    &__image {
      width: 300px;
      object-fit: contain;
    }
    &__nav-item {
      height: 40px;
      font-size: 20px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
      &::after {
        height: 40px;
        top: -5px;
        left: -10px;
      }
      &_backstory::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: 0;
      }
      &_motivation::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: 52px;
      }
      &_goals::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: 29px;
      }
      &_course::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: 90px;
      }
      &_what-now::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: 0;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .me {
    overflow: hidden;
    &__container::before {
      bottom: 0;
    }
    &__image-box {
      align-self: flex-end;
      min-height: unset;
      opacity: 1;
      transition: 0.8s all ease-in-out;
      &_opacity {
        opacity: 0;
      }
    }
    &__nav-box {
      position: absolute;
      min-width: 130px;
      top: 50%;
      transform: translateY(-50%);
      right: -100vw;
      transition: 0.8s all ease-in-out;
      &_active {
        display: block;
        right: 5vw;
      }
    }
    &__burger {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      &_active {
        transform: rotate(-180deg);
      }
      &_active > .burger__element {
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .me {
    &__container {
      min-height: 100vh;
      padding: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__info-box-320top, &__info-box-320bottom {
      display: block;
      align-self: flex-start;
    }
    &__info-box {
      display: none;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 0px;
    }
    &__name {
      margin-bottom: 0;
      font-size: 20px;
    }
    &__image-box {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      width: 100vw;
      min-height: 250px;
    }
    &__image {
      margin-top: -20px;
      width: 45vh;
      object-fit: contain;
    }
    &__from {
      margin-bottom: 0px;
      font-size: 16px;
    }
    &__glad {
      font-size: 16px;
    }
    &__burger {
      top: 15px;
      right: 15px;
    }
    &__nav-item {
      &:not(:last-child) {
        margin-bottom: 6vh;
      }
    }
  }
}