.goals {
  background-image: url('../images/me-modal-pic/workspac.svg');
  background-repeat: no-repeat;
  background-position: bottom 15px right 15px;
  background-size: 190px 190px;
}

#goals {
  padding-bottom: 120px;
}
