.overlay-me {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.4s all ease-in-out;
  &_show {
    display: flex;
  }
}

.modal-me {
  position: relative;
  width: 550px;
  height: 500px;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  border: 2px solid #5cd2d9;
  border-radius: 5px;
  background-color: #233165;
  &__text {
    margin-bottom: 10px;
    text-indent: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    &::first-letter {
      font-family: 'Pattaya';
      font-size: 24px;
      line-height: 16px;
      color: #cf5060;
      margin-right: 3px;
    }
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('../../images/icons/close.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
} 

.animation-overlay-show {
  animation: overlay-show 0.4s linear;
}

.animation-modal-show {
  animation: modal-show 0.4s linear;
}

.animation-text-show {
  animation: text-show 0.2s linear;
}

.animation-overlay-hide {
  animation: overlay-hide 0.4s linear;
  opacity: 0;
}

.animation-modal-hide {
  animation: modal-hide 0.4s linear;
  width: 0;
  height: 0;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-show {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 550px;
    height: 500px;
  }
}

@keyframes modal-hide {
  from {
    width: 550px;
    height: 500px;
  }
  to {
    width: 0;
    height: 0;
  }
}

@keyframes text-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}