.what-now {
  background-image: url('../../../../images/me-modal-pic/time.svg');
  background-repeat: no-repeat;
  background-position: bottom 20px right 20px;
  background-size: 150px 150px;
}

#what-now {
  padding-bottom: 130px;
}